{% extends "network/layout.html" %}
{% load static %}
{% block script %}
<script src="{% static 'network/profile.js' %}" type="module"></script>
{% endblock %}

{% block body %}
<div id="profile-info-box">
    <div id="prof-name">{{ name }}</div>
    <div class="prof-follow">Followers: {{ followers }}</div>
    <div class="prof-follow">Followings: {{ following }}</div>
    {% if followed != None %}
        <div id="follow-btn-box">
        </div>
    {% endif %}
</div>

<div id="posts-view-container">
</div>
<div id="page-nav-box">
    <div id="page-nav">
    </div>
</div>
{% endblock %}
